body {
    font-family: Georgia;
}

body.mythyme {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden; /* auto */
}

body.maxwidth700 {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

body.centerForm {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div.centerForm {
    text-align: center;
}

div.centerForm input {
    margin: 5px 5px 0px 5px;
    width: 95%;
    height: 2em;
}

div.centerForm button {
    width: 97%;
    margin: 5px;
    height: 2.5em;
}

#loginDiv {
    margin-top: 40vh;
}

#signupDiv {
    margin-top: 35vh;
}

.topDiv {
    clear: both;
    height: 30px;
}

.topDiv .alignLeft {
    float: left;
}

.topDiv .alignRight {
    float: right;
}

span.loggedInAs {
    margin-right: 0px;
}

span.username {
    font-weight: bold;
}

.topDiv .alignRight form {
    display: inline;
}

img.icon {
    height: 15px;
    padding: 0px 4px;
    position: relative;
    top: 2px;
}
